body{
    background-image: url(../../img/background.png);
    background-attachment: fixed;
    background-position: 0;
    background-size: cover;
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
}