@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


*{box-sizing:border-box}

body,html{
	height:100%;
	margin:0;
    font-family: 'Montserrat';
	font-style: normal;
    font-weight: 400;
	line-height:1.5;
	scroll-behavior: smooth;
}

#root{
    width: 100%;
    height: 100%;
    background-image: url(../../img/background.png);
    background-attachment: fixed;
    background-position: 0;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1100px) and (max-height: 1400px){
    .centerDiv {
        width: 50%;
    }
}



@media screen and (max-width: 1000px) and (max-height: 1100px){
    .centerDiv {
        width: 48%;
    }
}

@media screen and (max-width:1000px){
    .centerDiv{
        width: 33%;
    }

}

@media screen and (max-width:770px) and (max-height:1100px){

    .centerDiv{
        width: 52%;
    }
      
}

@media screen and (max-width:700px){

    .centerDiv{
        width: 52%;
    }

    .title{
        font-size: 34px;
    }

}


@media screen and (max-width:400px){

    .centerDiv{
        width: 68%;
    }

    .title{
        font-size: 32px;
    }
}

@media screen and (max-width:250px){

    .centerDiv{
        width: 80%;
    }

    .title{
        font-size: 32px;
    }
}




