.centerDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #2587ff;
    border-radius: 10px;
    width: 22%;
    margin-top: 8%;
    background: white;
}