::-webkit-scrollbar{
	width: 7px;
}	

::-webkit-scrollbar-thumb{
	background:#CED4DA;
	border-radius:10px;
}

::webkit-scrollbar-track{
	background:#c4d9db;
}

.formContainer {
    display: flex;
    width: 70%;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.formFields {
    height: 135px;
    width: 100%;
    display: flex;
    overflow-y: auto;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
}