.spanOr{
    color:rgb(37, 135, 255);
    font-size: 15px;
    margin: 13px 0px;
}

/* .spanOr::after{
    content: "";
    position: absolute;
    background: rgb(37, 135, 255);
    height: 1.5px;
    top: 55.4%;
    right: 26%;
    width: 18%;
}

.spanOr::before{
    content: "";
    position: absolute;
    background: rgb(37, 135, 255);
    height: 1.5px;
    bottom: 44.5%;
    left: 26%;
    width: 18%;
} */

