.commonDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    width: 14%;
    color:#dcdbdb;
    height: 100%;
}


.menu:hover{
    color: white;
}

.menu-main{
    color:white
}

.menu-layouts{
    color: white;
}

.logoImg{
    width: 230px;
}
