.commonDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #607ddd;
    height: 12%;
    align-items: center;
    justify-content: center;
    border: 1px solid #e9e9e9;
}

.menu:hover{
    color: rgb(35, 88, 212);;
}

.menu-main{
    color:rgb(35, 88, 212);
}

.menu-layouts{
    color: rgb(35, 88, 212);;
}

.logoImg{
    width: 230px;
}
