.definput{
    width: 100%;
    /* height: 36px; */
    border-radius: 7px;
}

/* .definput:hover{
    outline: 1px solid rgb(37, 135, 255);
} */




/* .definput::after{
    content: "";
    position: absolute;
    background: rgb(37, 135, 255);
    height: 1.5px;
    top: 65px;
    left: 0px;
    width: 100%;
} */


